
.website__store-container {
    display: flex;
    flex-direction: row;
    height: 100%; 
    margin-top: 90px
}


.website__store-container {
    display: flex;
    flex-direction: row;
}

.website__store-container > :first-child {
    margin-right: 20px;
    height: 100%;  
    overflowY: 'auto';
    maxHeight: '400px';
}
